@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="row">
    <div class="col">
        <h5>Bem vindo Adauto, utilize as ferramentas de desenvolvedor feitas por você</h5>
    </div>
</div>